h1,
h2,
h3{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    font-weight: bold;
    font-size: 24px;
}
img{
    max-height: 500px;
    width: auto;
}

div{
    background-color: rgb(246, 232, 214);
}
.ingredients,
.steps,
.description,
.addendum{
    color: brown;
    line-height: 1.5;
    font-size: 22px;
}