*{
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    max-height: 500px;
    height: auto;
}
h1,
h2,
h3{
    font-weight: bold;
    font-size: ;
}